body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101011;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: source-code-pro, Monaco, 'Courier New', monospace;
  color: rgb(213, 235, 235);
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-family: source-code-pro, Monaco, 'Courier New', monospace;
  font-size: medium;
}

label {
  font-family: 'Courier New', Courier, monospace;
}

button {
  font-family: source-code-pro, Monaco, 'Courier New', monospace;
}

select option {
  font-family: source-code-pro, Monaco, 'Courier New', monospace;
  background: rgb(0, 0, 0);
}

select {
  font-family: source-code-pro, Monaco, 'Courier New', monospace;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}
